$purple: #372B63;
$red: #EB484D;

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("http://i.imgur.com/TwB5DlY.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
  margin-top: 30px;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}